@import "core";

.main {
    margin: 0 auto;
    padding: 0 3rem 3rem;
    position: relative;
    z-index: 1;

    &:before {
        background: radial-gradient(circle, rgb(10, 2, 38) 0%, rgb(0, 0, 0) 100%);
        content: '';
        height: 100vh;
        left: 0;
        position: fixed;
        top: 0;
        z-index: -1;
        width: 100vw;
    }
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 0;
    width: 100%;
}

.nav-container {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.logo-container {
    margin-right: 3rem;

    a { display: flex; }

    .logo {
        height: 100%;
        max-width: 175px;
        width: 100%;
    }
}

.nav {
    color: white;
    display: inline-block;
    margin: 0;

    .nav-items {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        .nav-item {
            margin-left: 3rem;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
                text-underline-offset: 0.5rem;
            }

            a {
                color: inherit;
                text-decoration: none;
            }
        }
    }
}

.login-button {
    color: inherit;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
        text-underline-offset: 0.5rem;
    }
}

.footer {
    margin-top: 6rem;
}
.flags {
    display: flex;
    list-style: none;
    margin: 1rem;
    padding: 0;

    .flag {
        margin: 5px;
    }
}
