.page {
    padding-top: 2rem;
}

.searchbar {
    background-color: rgb(13, 7, 38);
    -webkit-backdrop-filter: blur(33px);
    border: none;
    border-radius: 0.5rem;
    color: white;
    font-size: 1.15rem;
    width: 100%;
    padding: 1.25rem 1.25rem 1.25rem 4rem;

    &::placeholder {
        color: inherit;
    }
}

.label {
    display: block;
    position: relative;

    &:before {
        background-image: url("/public/search-icon.png");
        background-size: contain;
        content: '';
        height: 1.5rem;
        left: 1.25rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 1.5rem;
        z-index: 99;
    }
}

.genres {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }

    button {
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.15);
        border-radius: 20px;
        color: white;
        font-size: 0.8rem;
        height: 40px;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        padding: 0 20px;
        width: 100%;
    }


    button:hover {
        border: 1px solid white;
        cursor: pointer;
    }

    button.active {
        background-color: white;
        color: black;
    }
}

/* MOVIES LIST STYLING */

.movies-list {
    .movies-list-header {
        font-size: 0.9rem;
        margin: 1.5rem 0;
    }

    .inner {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 2rem;
        row-gap: 4rem;

        .movie-container {
            position: relative;
            width: 100%;

            &:hover .addButton {
                cursor: pointer;
                opacity: 1;
            }

            .poster img {
                border-radius: 4px;
                height: auto;
                width: 100%;
            }

            .addButton {
                align-items: center;
                background-color: white;
                border: none;
                border-radius: 1rem;
                color: var(--main);
                display: flex;
                line-height: 1;
                mix-blend-mode: lighten;
                height: 2rem;
                justify-content: center;
                opacity: 0.1;
                position: absolute;
                top: 20.25rem;
                right: 0.75rem;
                width: 2rem;

                svg {
                    height: 0.8rem;
                    width: 0.8rem;
                }

                &:before {
                    mix-blend-mode: difference;
                    color: white;
                    opacity: 0;
                    transform: translateY(1rem);
                }

                &:hover {
                    &:before {
                        display: block;
                        content: var(--add-to-watchlist);
                        position: absolute;
                        left: -4rem;
                        opacity: 1;
                        transition: 0.25s;
                        transition-delay: 1s;
                        transform: translateY(0);
                        width: fit-content;
                    }
                }
            }

            .addButton.added {
                background-color: var(--green);
                mix-blend-mode: normal;
                opacity: 1;
            }
        }

        .movie-info {
            font-size: 0.75rem;
        }
    }
}

